 <!-- This line tells Django to use the base.html template as the base for this template. -->
{% extends "base.html" %}

 <!-- This line tells Django to replace the title block in the base.html template with the text "Home". -->
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Movie Reviewer</h1>
    <p>Here you can review movies and see what others think about them.</p>
{% endblock %}

<!-- This line tells Django to replace the footer block in the base.html template with the text "Copyrights". -->
{% block footer %}
    &copy; 2025 Movie Reviewer
{% endblock %}